<div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <div class="row mt-3">
          <div class="col-lg-8 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-center">Pago de Cita</div>
                <p class="pb-2 text-center">Transaccion realizada con exito, su numero de referencia es 10407253</p>
                <hr>
                <form action="/Cita">

                  <div class="form-group row">
                    <label class="col-lg-5 col-form-label form-control-label">Cedula del Paciente:</label>
                    <div class="col-lg-7">
                        <input class="form-control" type="text" value="28.150.444" disabled="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 col-form-label form-control-label">Medico:</label>
                    <div class="col-lg-7">
                        <input class="form-control" type="text" value="Marcial Daza" disabled="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 col-form-label form-control-label">Turno:</label>
                    <div class="col-lg-7">
                        <input class="form-control" type="text" value="De 7:00am a 11:00am" disabled="">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-5 col-form-label form-control-label">Fecha:</label>
                    <div class="col-lg-7">
                        <input class="form-control" type="url" value="14/07/2022"  disabled="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 col-form-label form-control-label">Monto de operacion:</label>
                    <div class="col-lg-7">
                        <input class="form-control" type="text" value="5.00$" placeholder="" disabled="">
                    </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-5 col-form-label form-control-label">Saldo Restante:</label>
                  <div class="col-lg-7">
                      <input class="form-control" type="text" value="7.00$" placeholder="Calle" disabled="">
                  </div>
              </div>

              <div class="form-group row">
                <label class="col-lg-5 col-form-label form-control-label">Concepto:</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" value="pago" disabled="" placeholder="Calle">
                </div>
            </div>

                  <div>
                    <button id="payment-button" type="submit" class="btn btn-light px-5 btn-info btn-block">
                      <i class="zmdi zmdi-calendar-check"></i>&nbsp;
                      <span id="payment-button-amount">Ver citas pendientes</span>
                      <span id="payment-button-sending" style="display:none;">Sending…</span>
                    </button>
                  </div>
                 
                </form>
              </div>
            </div>
          </div>


        </div>
        <!--End Row-->