<div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <div class="row mt-3">
          <div class="col-lg-8 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-center">Recarga de Saldo</div>
                <p class="pb-2 text-center">Transaccion realizada con exito, su numero de referencia es 10407253</p>
                <hr>
                <form action="/addPaciente">

                  <div class="card-title"><i class="icon-wallet mr-2"></i> Billetera</div>
                <p class="pb-2">Saldo Actual: 22.00$</p>
                <hr>
                
                  <div>
                    <button id="payment-button" type="submit" class="btn btn-light px-5 btn-info btn-block">
                      <span id="payment-button-amount">inicio</span>
                      <span id="payment-button-sending" style="display:none;">Sending…</span>
                    </button>
                  </div>
                  
                 
                </form>
              </div>
            </div>
          </div>


        </div>
        <!--End Row-->