      <div class="container">
      <div class="top-header">
        <img src="assets/images/aerobic-girls.png" alt="aerobic girls" />
      </div>
        <div class="section-heading">
        
          <h2>Bienvenido al Sistema SS</h2>
          <div class="line-dec"></div>
          <span>Este sistema esta diseñado con el fin de facilitar las tareas de gestion de citas inventario y empleados de la clinica sacando sonrisas.</span>
        </div>
        <div class="right-image-post">
          <div class="row">
        </div>
      </div>
