      <div class="container">
      <div class="top-header">
        <img src="assets/images/aerobic-girls.png" alt="aerobic girls" />
      </div>
        <div class="section-heading">
        
          <h2>Bienvenido al Sistema SS</h2>
          <div class="line-dec"></div>
          <span>Este sistema esta diseñado con el fin de facilitar las tareas de gestion de citas inventario y empleados de la clinica sacando sonrisas.</span>
        </div>
        <div class="right-image-post">
          <div class="row">

            <div class="col-md-8">
              <div class="left-text">
                <h4>Modern Web Design</h4>
                <p>You are allowed to use this template for commercial or personal websites. You are NOT allowed to redistribute this on template collection website. You can feature this template on your blog post.</p>
                <p>All photos in this template are from <a rel="nofollow" href="https://www.pexels.com">Pexels</a> website. Blugoon HTML Template is provided by Tooplate. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                <div class="white-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="right-image">
                <img src="assets/images/mountain-reflection.jpg" alt="Mountain Reflection" />
              </div>
            </div>
            
          </div>
        </div>
        <div class="left-image-post">
          <div class="row">
          
            <div class="col-md-4">
              <div class="left-image">
                <img src="assets/images/girl-nature.jpg" alt="Nature Girl" />
              </div>
            </div>
            
            <div class="col-md-8">
              <div class="right-text">
                <h4>Best Template for you!</h4>
                <p>Quisque feugiat nisl at lacus condimentum, eu suscipit odio fringilla. Mauris eu est vitae erat condimentum pellentesque. Fusce vehicula nunc at augue sagittis tristique.</p>
                <p>Ut imperdiet massa at enim tempus volutpat. Nullam gravida augue quis facilisis commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <div class="white-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
