<div class="jumbotron mt-4">
    <h1 class="dysplay-4">Sistema medico con Nodejs y Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolor pariatur accusantium non architecto itaque?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatum numquam blanditiis officia perferendis fuga molestias, ex incidunt sapiente odit?</p>
    <a href="#" class="btn btn-primary">visitar</a>
</div>