<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="/img/login2.jpg" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0 font-weight-bold">Cadena de favores</h5>
      <p class="font-weight-normal">Es una fundación sin fines de lucros, que busca ayudar a las personas que poseen necesidades extremas, brindandoles una mano amiga, consultando en distintas especialidades, que estas ameriten, sin costo alguno.</p>
      <a href="#" class="stretched-link">Mayor información</a>
    </div>
  </div>
</nav>
<footer>
    <div class="fixed-bottom text-center">Derechos reservados 2021-2022</div>
</footer>