body {
    background: #1488cc;
    background: url(../img/bg3.jpg) center top;
    background-size: cover;
    height: 100vh;
}

.carousel-inner img {
    width: 100%;
    max-height: 500px;
}

.carousel-inner{
 height: 460px;
}