{{#if user}}
<!-- panel lateral -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/habFom"><i class="menu-icon fa fa-user"></i>Registrar habitantes</a>
                    </li>
                    <li>
                        <a href="/famForm"><i class="menu-icon fa fa-group"></i>Registrar Familias</a>
                    </li>
                    <li>
                        <a href="/habitante"><i class="menu-icon fa fa-table"></i>Tablas habitantes</a>
                    </li>
                    <li>
                        <a href="/Familias"><i class="menu-icon fa fa-home"></i>Tablas Familias</a>
                    </li>
                    <li>
                        <a href="/report"><i class="menu-icon fa fa-bar-chart"></i>Reportes</a>
                    </li>
                    <li>
                        <a href=""><i class="menu-icon fa fa-area-chart"></i>Mapa de la Comunidad</a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside><!-- /#left-panel -->

    <!-- panel lateral -->

    <!-- panel superior -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""><img src="/images/logo.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <div class="form-inline">
                        </div>
                    </div>

                    <div class="user-area float-right">

                        <div class="">
                            <a class="nav-link" href="/users/logout"><i class="fa fa-power-off"></i> Cerrar Sesion</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{{/if}}