<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
         <img src="/img/5a725e672e9d1e8d686ce9a2cf8f871c.png" width="50" height="30" class="d-inline-block align-top" alt="">Cadena de Favores
        </a>
        <a class="navbar-brand" href="/">Cadena de Favores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Noticias</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Gestion 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Citas</a>
                        <a class="dropdown-item" href="/addEsp">Especialidades</a>
                        <a class="dropdown-item" href="/addHrc">Horarios</a>
                        <a class="dropdown-item" href="/adddias">Dias</a>
                        <a class="dropdown-item" href="/addDoc">Medicos</a>
                        <a class="dropdown-item" href="/">Doctores</a>
                        <a class="dropdown-item" href="/addPaciente">Pacientes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Cerrar sesion</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/users/signin" class="nav-link">login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/signup" class="nav-link">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>