<div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <div class="row mt-3">
          <div class="col-lg-8 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="card-title"><i class="icon-wallet mr-2"></i> Billetera</div>
                <p class="pb-2">Saldo Actual: 12.00$</p>
                <hr>
                <div class="card-title">  Recargar Saldo</div>
                <form action="/recargar">
                  <div class="form-group">
                    <label for="input-1">Monto a Recargar</label>
                    <input type="number" name="saldo" class="form-control" id="input-1" placeholder="Monto">
                  </div>
                  <div class="form-group">
                    <label for="input-2">Metodo de recarga</label>
                    <select name="mpago" class="form-control" id="input-2">
                      <option>-selecciona-</option>
                      <option >Pago movil (P2P)</option>
                      <option >Binance</option>
                      <option >PayPal</option>
                    </select>
                  </div>

                  <div>
                    <button id="payment-button" type="submit" class="btn btn-light px-5 btn-info btn-block">
                      <button type="submit" class="btn btn-light btn-info btn-block mt-2 px-5"><i class="icon-wallet mr-2"></i>&nbsp; Recargar</button>
                      <span id="payment-button-sending" style="display:none;">Sending…</span>
                    </button>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-light btn-info btn-block mt-2 px-5">
                      Cancelar</button>
                  </div>

                </form>
              </div>
            </div>
          </div>


        </div>
        <!--End Row-->