
<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

 
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
            <div class="card-header">Bitacora de acceso
           <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                   <i class="icon-options"></i>
                  </a>
                   <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item" href="javascript:void();">Añadir</a>
                   <a class="dropdown-item" href="javascript:void();">Actualizar</a>
                   </div>
                   </div>
                  </div>
          </div>
              <div class="table-responsive">
                      <table class="table align-items-center table-flush table-borderless">
                       <thead>
                        <tr>
                          <th>Usuario</th>
                          <th>Nombre</th>
                          <th>Nivel</th>
                          <th>Fecha</th>
                          <th>Hora</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                         <td>zmanuel709@gmail.com</td>
                         <td>Manuel</td>
                         <td>medico</td>
                         <td>02/12/2022</td>
                         <td>2:00pm</td>
                        </tr>

                        <tr>
                          <td>zmanuel709@gmail.com</td>
                          <td>Manuel</td>
                          <td>medico</td>
                          <td>02/12/2022</td>
                          <td>2:00pm</td>
                         </tr>

                         <tr>
                          <td>zmanuel709@gmail.com</td>
                          <td>Manuel</td>
                          <td>medico</td>
                          <td>02/12/2022</td>
                          <td>2:00pm</td>
                         </tr>

                         <tr>
                          <td>zmanuel709@gmail.com</td>
                          <td>Manuel</td>
                          <td>medico</td>
                          <td>02/12/2022</td>
                          <td>2:00pm</td>
                         </tr>

                         <tr>
                          <td>zmanuel709@gmail.com</td>
                          <td>Manuel</td>
                          <td>medico</td>
                          <td>02/12/2022</td>
                          <td>2:00pm</td>
                         </tr>

                         <tr>
                          <td>zmanuel709@gmail.com</td>
                          <td>Manuel</td>
                          <td>medico</td>
                          <td>02/12/2022</td>
                          <td>2:00pm</td>
                         </tr>

                         <tr>
                          <td>zmanuel709@gmail.com</td>
                          <td>Manuel</td>
                          <td>medico</td>
                          <td>02/12/2022</td>
                          <td>2:00pm</td>
                         </tr>
     
     
                      </tbody></table>
                    </div>
          </div>
        </div>
       </div><!--End Row-->