
<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

 
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
            <div class="card-header">Bitacora de Transacciones
           <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                   <i class="icon-options"></i>
                  </a>
                   <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item" href="javascript:void();">Añadir</a>
                   <a class="dropdown-item" href="javascript:void();">Actualizar</a>
                   </div>
                   </div>
                  </div>
          </div>
              <div class="table-responsive">
                      <table class="table align-items-center table-flush table-borderless">
                       <thead>
                        <tr>
                          <th>Usuario</th>
                          <th>Nivel</th>
                          <th>TipoMov</th>
                          <th>Modulo</th>
                          <th>Fecha</th>
                          <th>Hora</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                          <td>mariaang@gmail.com</td>
                          <td>paciente</td>
                          <td>Recargo 10$ </td>
                          <td>Billetera</td>
                          <td>02/12/2022</td>
                          <td>2:02pm</td>
                         </tr>
                          <tr>
                         <td>zmanuel709@gmail.com</td>
                         <td>medico</td>
                         <td>agregar</td>
                         <td>Especialidades</td>
                         <td>02/12/2022</td>
                         <td>2:00pm</td>
                        </tr>

                        <tr>
                          <td>adm@gmail.com</td>
                          <td>Administrador</td>
                          <td>Eliminar</td>
                          <td>Medicos</td>
                          <td>02/12/2022</td>
                          <td>1:03pm</td>
                         </tr>

                         <tr>
                          <td>paciente@gmail.com</td>
                          <td>paciente</td>
                          <td>completo su registro</td>
                          <td>perfil</td>
                          <td>02/12/2022</td>
                          <td>9:00am</td>
                         </tr>

                         <tr>
                          <td>medico@gmail.com</td>
                          <td>medico</td>
                          <td>agregar</td>
                          <td>paciente</td>
                          <td>02/12/2022</td>
                          <td>12:00pm</td>
                         </tr>

                         <tr>
                          <td>maria@gmail.com</td>
                          <td>paciente</td>
                          <td>completo su registro</td>
                          <td>Especialidades</td>
                          <td>02/12/2022</td>
                          <td>4:00pm</td>
                         </tr>

                         <tr>
                          <td>pedroi23@gmail.com</td>
                          <td>medico</td>
                          <td>agregar</td>
                          <td>completo su registro</td>
                          <td>02/12/2022</td>
                          <td>2:02pm</td>
                         </tr>

    
                      </tbody></table>
                    </div>
          </div>
        </div>
       </div><!--End Row-->