 <!-- titulo y filtros de busqueda  -->
        <div id="especialidades">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                            <h3 class="font-weight-bold">Dias</h3>
                        </div>



                    <!-- {{!-- ventana modal para editar --}} -->


                    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">
                                        Editar Dia
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-danger d-none" role="alert" id="modal-alert">
                                        A simple danger alert—check it out!
                                    </div>
                                <form>

                                    <div class="form-row">
                                        <div class="col-sm-7 d-sm-flex align-items-center mb-3">
                                            <label for="exampleFormControlSelect1" class="m-3">Dia</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Lunes</option>
                                            <option>Martes</option>
                                            <option>Miercoles</option>
                                            <option>Jueves</option>
                                            <option>Viernes</option>
                                            </select>
                                    </div>
                                    <div class="col-sm-7 d-sm-flex align-items-center mb-3">
                                        <label for="exampleFormControlSelect1" class="m-2">Medico</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>--selecciona--</option>
                                          <option>urologo</option>
                                          <option>cirujano</option>
                                          <option>traumatologo</option>
                                          <option>oftalmologo</option>
                                        </select>
                                    </div>
                              
                                        
                                    </div>

                                    <div class="form-row">
                                        <div class="col-sm-7 d-sm-flex align-items-center mb-3">
                                            <label for="exampleFormControlSelect1" class="m-2">Horario</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                              <option>--selecciona--</option>
                                              <option>urologo</option>
                                              <option>cirujano</option>
                                              <option>traumatologo</option>
                                              <option>oftalmologo</option>
                                            </select>
                                    </div>
                                    </div>

                                   

                                </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        cerrar
                                    </button>
                                    <button type="button" class="btn btn-info" id="modal-btn">
                                        guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <main>
                        <div class="container pt-3">
                            <div class="alert alert-danger d-none" role="alert" id="alert">
                                A simple danger alert—check it out!
                            </div>

                            <!-- añadir especialidad -->

                            <div>
                                <form action="/notes/new-note" method="post">
                                    <div class="row">

                                        <div class="col-sm-3 d-sm-flex align-items-center mb-3">
                                                <label for="exampleFormControlSelect1" class="m-2">Dia</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Lunes</option>
                                                <option>Martes</option>
                                                <option>Miercoles</option>
                                                <option>Jueves</option>
                                                <option>Viernes</option>
                                                </select>
                                        </div>
                                        <div class="col-sm-3 d-sm-flex align-items-center mb-3">
                                            <label for="exampleFormControlSelect1" class="m-2">Medico</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                              <option>--selecciona--</option>
                                              <option>urologo</option>
                                              <option>cirujano</option>
                                              <option>traumatologo</option>
                                              <option>oftalmologo</option>
                                            </select>
                                        </div>
                                  
                                            <div class="col-sm-3 d-sm-flex align-items-center mb-3">
                                                <label for="exampleFormControlSelect1" class="m-2">Horario</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                  <option>--selecciona--</option>
                                                  <option>urologo</option>
                                                  <option>cirujano</option>
                                                  <option>traumatologo</option>
                                                  <option>oftalmologo</option>
                                                </select>
                                        </div>
                                        
                                        <div class="col-sm-2 mt-0">
                                            <button type="button" class="btn btn-info btn-block " id="add">
                                                añadir
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Table -->

                    <div class="mt-5">
                        <table class="table table-hover table-striped" id="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Dias</th>
                                    <th scope="col">Medicos</th>
                                    <th scope="col">Horarios</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                        <!-- El contenido de la tabla sera generado por el codigo JavaSvrip aqui-->
                                <tr>
                                        <th scope="row">1</th>
                                        <td>lunes</td>

                                        <td>Marcial Daza</td>

                                        <td>7.00 am - 12.00pm</td>

                                        <td class="text-right">
                                            <form class="d-inline" action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            
                                            <button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#modal">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            
                                            <button class="btn btn-danger mb-1 ml-1">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                </tr>

                                <tr>
                                    <th scope="row">2</th>
                                    <td>Martes</td>

                                    <td>Juan Mora</td>

                                    <td>1.00 pm - 5.00pm</td>

                                    <td class="text-right">
                                        <form class="d-inline" action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        
                                        <button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#modal">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        
                                        <button class="btn btn-danger mb-1 ml-1">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                        
                              
                                    
                                    
                            </tbody>
                                </table>
                            </div>
                        </div>
                    </main>

                </div>
            </div>
