<!-- /Widgets -->
<div class="pt-3 row">
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h3 class="mb-0 fw-r">
                        <span class="currency float-left mr-1">#</span>
                        <span class="count">2356</span>
                    </h3>
                    <p class="text-light mt-1 m-0">Nuevos Insumos</p>
                </div><!-- /.card-left -->

                <div class="card-right float-right text-right">
                    <i class="icon fade-5 icon-lg pe-7s-cart"></i>
                </div><!-- /.card-right -->

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-6">
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h3 class="mb-0 fw-r">
                        <span class="count float-left">85</span>
                        <span>%</span>
                    </h3>
                    <p class="text-light mt-1 m-0">Inventario</p>
                </div><!-- /.card-left -->

                <div class="card-right float-right text-right">
                    <div id="flotBar1" class="flotBar1"></div>
                </div><!-- /.card-right -->

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-3">
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h3 class="mb-0 fw-r">
                        <span class="count">569</span>
                    </h3>
                    <p class="text-light mt-1 m-0">Total Empleados</p>
                </div><!-- /.card-left -->

                <div class="card-right float-right text-right">
                    <i class="icon fade-5 icon-lg pe-7s-users"></i>
                </div><!-- /.card-right -->

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-2">
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h3 class="mb-0 fw-r">
                        <span class="count">1490</span>
                    </h3>
                    <p class="text-light mt-1 m-0">Nuevos usuarios</p>
                </div><!-- /.card-left -->

                <div class="card-right float-right text-right">
                    <div id="flotLine1" class="flotLine1"></div>
                </div><!-- /.card-right -->

            </div>

        </div>
    </div>



    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-dark mb-3">entrada y salida de insumos</h4>
                            <canvas id="sales-chart"></canvas>
                        </div>
                    </div>
                </div><!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-dark mb-3">citas por año</h4>
                            <canvas id="team-chart"></canvas>
                        </div>
                    </div>
                </div><!-- /# column -->