<!-- Start wrapper-->
 <div id="wrapper">

 <div class="height-100v d-flex align-items-center justify-content-center">
	<div class="card card-authentication1 mb-0">
		<div class="card-body">
		 <div class="card-content p-2">
		  <div class="card-title text-uppercase pb-2">Recuperar Contraseña</div>
		    <p class="pb-2">Por favor ingresa tu Email, nombre y numero de telefono para Recuperar tu Contraseña.</p>
		    <form>
			  <div class="form-group">
			  <label for="exampleInputEmailAddress" class="">Direccion Email</label>
			   <div class="position-relative has-icon-right">
				  <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow" placeholder="ingresa tu correo">
				  <div class="form-control-position">
					  <i class="icon-envelope-open"></i>
				  </div>
			   </div>
			  </div>

        <div class="form-group">
          <label for="exampleInputEmailAddress" class="">¿Cual es tu nombre?</label>
           <div class="position-relative has-icon-right">
            <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow" placeholder="ingresa tu nombre">
            <div class="form-control-position">
              <i class="zmdi zmdi-account"></i>
            </div>
           </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmailAddress" class="">¿Cual es tu numero de Telefono?</label>
             <div class="position-relative has-icon-right">
              <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow" placeholder="Ingresa tu numero">
              <div class="form-control-position">
                <i class="zmdi zmdi-whatsapp"></i>
              </div>
             </div>
            </div>
			 
			  <button type="button" class="btn btn-light btn-block mt-3">Recuperar Contraseña</button>
			 </form>
		   </div>
		  </div>
		   <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Volver al <a href="/"> Inicio de Sesion</a></p>
		  </div>
	     </div>
	     </div>