<div class="login-box">
    
    <h1>Inicia sesion aqui</h1>
    
    <form action="/users/signin" method="post">
    <img src="/img/user.png" class="rounded-circle mx-auto d-block m-4 logo">
        <!-- username -->
        <label for="username">NOMBRE DE USUARIO</label>
        <input type="email" class="form-control" name="email" placeholder="Email">

        <!-- password -->
        <label for="password">CONTRASEÑA</label>
        <input type="password" class="form-control" name="password" placeholder="password">
        
        <button class="btn btn-primary btn-block">
                    Iniciar
        </button>
    </form>
</div>