      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card mt-4 text-dark">
            <div class="card-header bg-danger text-center">
              <h1 class="h4 text-white">
                ingresar a tu cuenta
              </h1>
            </div>
            <img
              class="rounded-circle mx-auto d-block logo m-4"
              src="/assets/images/logo-image.jpg"
              alt="Logo"
            />
            <div class="card-body">
              <form action="/users/signin" method="POST">
                <div class="mb-3">
                  <label for="email">Email:</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="passswore">Password:</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                  />
                </div>
                <button class="btn btn-danger btn-block">
                  Signin
                </button>
              </form>
            </div>
      
            <p class="text-center text-dark">Don't Have an Account? <a href="/users/signup" class="text-danger text-info">Register</a></p>
          </div>
        </div>
      </div>
